.navbar-brand {
  padding: 12px;
}

.nav-fix {margin: 0;
  padding: 0px}

.lite-offset {
    margin-left: 2%;
  }

.jumbo-pic {      
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 90%;
    float: left;
    padding: 10px;
}

.better-grid {
  margin-bottom: 15px;
}

.vis-pics {  
  width: 100%;
  height: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

.subtitle {
  padding: 5px;
  text-align: center;
}

.table-scroll {
  overflow-x: auto;
  display: block;
}